.main{
    border: 2px solid skyblue;
    width: 200px;
    margin: 0 auto;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 200px;
}
.result{
    width: 100%;
    background-color: skyblue;
    color: #fff;
}
.clearBtn{
    width: 100%;
    margin-top: 10px;
    background-color: skyblue;
}
.btn{
    width: 45px;
    margin: 1px;
}
.halfbtn{
    background-color: skyblue;
    width: 97px;
    margin-top: 5px;
}
.align-center {
    text-align: center;
    justify-content: center;
    display: flex;
}
.txt {
    font-size: 52px;
    color: skyblue;
}